@page "/orders"
@using GoodHamburger.Web.Models
@using GoodHamburger.Web.Services
@inject OrderService OrderService
@inject NavigationManager Navigation

<h3>Pedidos</h3>

<button class="btn btn-primary mb-3" @onclick="CreateOrder">
    Novo Pedido
</button>

@if (orders is null)
{
    <p>Carregando pedidos...</p>
}
else if (!orders.Any())
{
    <p>Nenhum pedido encontrado.</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Total</th>
            <th>Desconto</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Total.ToString("C")</td>
                <td>@order.Discount.ToString("C")</td>
                <td>
                    <button class="btn btn-sm btn-info" @onclick="() => Details(order.Id)">
                        Detalhes
                    </button>

                    <button class="btn btn-sm btn-danger" @onclick="() => DeleteOrder(order.Id)">
                        Excluir
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<OrderModel>? orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetAllAsync();
    }

    private void CreateOrder()
    {
        Navigation.NavigateTo("/orders/create");
    }

    private void Details(Guid id)
    {
        Navigation.NavigateTo($"/orders/details/{id}");
    }

    private async Task DeleteOrder(Guid id)
    {
        var success = await OrderService.DeleteAsync(id);

        if (success)
            orders = await OrderService.GetAllAsync();
    }
}