@page "/products"

@using GoodHamburger.Web.Models
@using GoodHamburger.Web.Services
@inject ProductService ProductService
@inject NavigationManager NavigationManager

<h3>Produtos</h3>

<button class="btn btn-primary mb-3" @onclick="GoToCreate">
    Novo Produto
</button>

@if (products is null)
{
    <p>Carregando...</p>
}
else if (!products.Any())
{
    <p>Nenhum produto encontrado.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Type.ToString()</td>
                <td>
                    <button class="btn btn-sm btn-warning me-2"
                            @onclick="() => Edit(product.Id)">
                        Editar
                    </button>

                    <button class="btn btn-sm btn-danger"
                            @onclick="() => Delete(product.Id)">
                        Excluir
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<ProductModel>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllAsync();
    }

    private void GoToCreate()
    {
        NavigationManager.NavigateTo("/products/create");
    }

    private void Edit(Guid id)
    {
        NavigationManager.NavigateTo($"/products/edit/{id}");
    }

    private async Task Delete(Guid id)
    {
        var success = await ProductService.DeleteAsync(id);

        if (success)
            products = await ProductService.GetAllAsync();
    }
}